.box {
  display: flex;
}

.left,
.right {
  flex: 1;
  padding-bottom: 50px;
}

.left {
  border-right: 5px dotted pink;
}

h1 {
  text-align: center;
}

button {
  background: white;
  border-radius: 5px;
  margin-left: 5px;
  color: black; 
}
